@import "../../global.scss";

.contact {
  position: relative;
  background-color: white;
  display: flex;
  justify-content: center;
  height: 100vh;

  @include mobile {
    flex-direction: column;
  }

  .left {
    overflow: hidden;
    @include mobile {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }
    
    img {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      opacity: 0.3;
      @include mobile {
        width: 100%;
        height: 100%;
      }
    }
  }
  .right {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    @include mobile {
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    h2 {
      font-size: 40px;
    }

    form {
      width: 70%;
      height: 70%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      @include mobile {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
      }
      input {
        width: 300px;
        height: 30px;
        font-size: 14px;
        border: 1px solid #ddd;

        border-radius: 10px;

        @include mobile {
          width: 200px;
          height: 20px;
        }
      }

      textarea {
        width: 300px;
        border: 1px solid #ddd;
        height: 200px;
        font-size: 14px;
        border-radius: 10px;

        @include mobile {
          width: 200px;
          height: 100px;
        }
      }

      button {
        width: 150px;
        height: 30px;
        color: white;
        background-color: crimson;
        border: none;
        border-radius: 10px;
        font-weight: 500;
        cursor: pointer;

        &:focus {
          outline: none;
        }
      }

      span {
        color: green;
      }
    }
  }
}
